.container {
  display: flex;
  gap: 50px;
  width: 100%;
  overflow-y: auto;
}

.container::-webkit-scrollbar {
  height: 7px;
}

.container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

.container::-webkit-scrollbar-thumb:hover {
  background: #555;
} 