.dropdown {
  position: relative;
}

.dropdown__list {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 300px;
  overflow-y: scroll;
  margin-top: 4px;
  border: 1px solid gainsboro;
  box-sizing: border-box;
  padding-block: 8px;
  z-index: 1;
  background-color: #ffffff;
}

.dropdown__list::-webkit-scrollbar {
  width: 8px;
}

.dropdown__list::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.dropdown__list::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

.dropdown__list::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.dropdown__item {
  display: flex;
  padding: 15px;
  align-items: center;
  border-bottom: 1px solid #888;
  gap: 15px;
  cursor: pointer;
}

.dropdown__button {
  display: flex;
  width: 100%;
  padding: 15px;
  border: 1px solid gainsboro;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.dropdown__itemImage {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.arrow {
  width: 16px;
  height: 16px;
}

.arrow__top {
  rotate: -180deg;
}
